{% extends 'base.html' %}
{% block title %} STALKER-HELPER | База знаний {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <center>
        <br>
        <br>
        <h1 class="display-4 fw-bold lh-1 text-white">БАЗА ЗНАНИЙ</h1>
    </center>
    <br>
    <p class="lead">Начиная свой ролевой путь впервые. Игрок сталкивается с огромным количеством трудностей.
        Которые иногда не в силах побороть. Для более легкой адаптации к новому для себя режиму. Было создано
        данное веб-приложение. Именно здесь мы попытаемся облегчить многие трудности и улучшить времяпровождение
        в самой игре. Отталкиваясь на свой ролевой опыт. Если у вас есть предложение, которое поможет улучшить
        функционал сайта и облегчить жизнь его пользователям. Вы всегда можете с нами связаться. Спасибо, что остаетесь
        с нами и помогаете становиться лучше.</p>
</div>
{% endblock %}